.infrastructure {
	height: 260px;
}

.hero {
	margin: 5px auto 2px;
}
.categ-menu {
	padding-bottom: 20px;
}
}
.categ-menu a {
	color: #01C26F;
	text-decoration: none;
}
.categ-menu div {
	display: inline-table;
}
.bullet {
	width: 15px; height: 15px;
	background: white;
	border-radius: 50%;
}
.lslide {
	padding-right: -40px;
}

.img-main {
	padding-right: 50px;
}

.main-post{
	margin-bottom: 60px;
	margin-top: 100px;
}
.post-detail {
	margin-top: 24px;
}
.brief-button div {
	margin-top: 12px;
	font-weight: bold;
}
.col-md-4 tr td:first-child {
	font-weight: bold;
}
.col-md-4 tr td:nth-child(2) {
	padding-left: 30px;
}