
.main-post{
	margin-bottom: 60px;
	margin-top: 100px;
}
.categ-menu {
	padding-bottom: 20px;
}
.categ-menu a {
	color: #01C26F;
	text-decoration: none;
}
.categ-menu div {
	display: inline-table;
}
.bullet {
	width: 15px; height: 15px;
	background: white;
	border-radius: 50%;
}
.panel-body {
	background: #E3E3E3;
}
.panel-footer {
	background: #01C26F;
	color: #FFF;
	padding: 30px 14px;
}
.panel-footer a {
	color: #FFF;
	text-decoration: none;
}
.panel-body table {
	margin-top: 20px;
}
.panel-body td {
	padding-right: 14px;
}
.headli {
	font-weight: bold;
}
.solution {
	float: left;
	font-weight: 300;
}
.respond {
	float: right;
	font-weight: 300;
}
.readmore {
	font-weight: 700;
	font-size: 24px;
}

/*---- Sidebar Start here ----------*/
.sidebar {
	height: 480px;
}
.sidebar ul {
	margin-top: 18px;
}
.sidebar ul li{
	font-weight: 300;
	list-style: none;
	line-height: 2;
	text-indent: -40px;
}
.sidebar ul li a{	
	font-weight: 300;
	text-decoration: underline dashed #444;
	color: #AAA;
}
.sidebar ul li a:hover{
	text-decoration: none;
	text-decoration: underline dashed #D5D6D5;
	color: #D5D6D5;
}