

.btn-default {
	border-radius: 20px;
	margin-right: 10px;
	font-weight: 700;
}
.part3 {
	margin-top: -20px;
}

.profile-area1, .profile-area2 {
	min-height: 480px;
	height: auto;
	padding-bottom: 30px;
	margin-bottom: 40px;
	padding-top: 20px;
}
.profile-area1 {
	background: #FFF;
}
.profile-area2 {
	background: #E6E8F2;
}
.profile-area1 ul {
	margin: 30px 0;
}
.profile-area1 ul li{
	list-style: none;
}
.profile-area1 ul li a{
	text-decoration: none;
}
.well {
	box-shadow: none;
	background: #FFF;
}
.form-group {
	width: 100%;
}
.form-control {
	height: 42px;
	margin: 0;
}
label {
	float: left;
}
.inputctg {
	width: 30%;
}
.inputtype {
	width: 33%;
}
.inputtag {
	width: 30%;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #4A8FE2;
  color: #fff;
}
.tab-content .form-control{
	background: #FFF;
	width: 40%;
}
.tab-content .aboutme{
	margin-right: 20px;
}
.tab-content ul li{
	list-style: none;
	text-indent: -36px;
}
.tab-content .grafik {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #FF8002;
	vertical-align: top;
}
.editprof {
	margin-top: 30px;
}
.postodd {
	margin: 0;
	padding: 20px;
}
.posteven {
	background: #F2F3F7;
	margin: 0;
	padding: 20px;
}
.posttop {
	margin-top: 20px;
}
.solution p {
	background: #FFF;
	border: 2px dotted #DDD;
	border-radius: 5px;
	padding: 15px;
}